<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="API/jquery-ui-1.12.1/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="API/JQuery/jquery-3.4.1.min.js"></script>
    <script src="API/jquery-ui-1.12.1/jquery-ui.js"></script>


    <%-include('javascripts/loader.ejs')%>
</head>

<body>

    <%-include('layout/frontpage.ejs') // html layout templates for app.%>
</body>

</html>