html,
body {
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
    color: #00B7FF;
}

#main {
    position: relative;
    display: flex;
    flex-flow: column;
}

.content {
    flex: 1 1 auto;
    display: inline-block;
    background-color: aqua;
    /* The above is shorthand for:
  flex-grow: 1,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.panel {
    padding: 5px;
    padding-left: 1px;
}

#left {}

.bottom {
    flex: 0 1 10px;
    /* position: absolute;
    bottom: 2px;*/
}

#add_appt_form {
    /* display: none;*/
    box-shadow: 0px 0px 5px #000;
    position: absolute;
    top: 150px;
    left: 250px;
    z-index: 1;
    overflow: auto;
    /* Enable scroll if needed */
    height: 400px;
    width: 450px;
    border-radius: 3px
}

.button {
    height: 20px;
    background-color: darkslategray;
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    padding: 5px 8px 5px 8px;
}

.button:hover {
    background-color: slategrey;
    font-weight: bold;
}