<div id='main' style='height:90%;width:100%;background-color:red'>
    <div id='top' style="width:100%">
        <h1>
            <%= title %>

        </h1>
    </div>

    <div class='content'>
        <div id='left' class="panel" style='background-color:green;float:left;height:100%;width:75%'>
            <h2 style="margin:0 0 0 5px">Use Date selector on the right to add a new appointment</h2>
            <h3>Search for specific appointments by user:</h3>
            <div class='singleSearch'>First Name (client): <input id="ss_firstname" name="firstname" class='' type="text">
                <br> Last Name (client): <input id="ss_lastname" name="lastname" class='' type="text">
                <br> Date: <input class='lookup_date' name="date" id='ss_date' type="text">
                <br>(Military) Time: <input class='' id='ss_tod' name="tod" type="text">
                <div class='button '>Submit</div>
            </div>
            <p>
                <h3>Search for appointments within a date range:</h3>
                <div class='multiSearch'>
                    Start Date: <input id="ms_startdate" name="startdate" class='lookup_date' type="text">
                    <br> End Date: <input id="ms_enddate" name="enddate" class='lookup_date' type="text">
                    <!--
                    <br>First Name (optional): <input id="ms_firstname" name="firstname" class='' type="text">
                    <br> Last Name (optional): <input id="ms_lastname" name="lastname" class='' type="text">
                   -->
                    <!-- <br>Time: <input class='' id='ms_tod' type="text"> -->
                    <div class='button '>Submit</div>
                </div>
            </p>
            <p>
                <h3>Delete all appointments in the db:</h3>
                <div style="display:inline-block">

                    <div class='deleteAll' style="display:inline-block"><span style="color:white;font-display:bold">This Action CANNOT be UnDone!</span>
                        <div class='button'>Delete All</div>
                    </div>
                </div>
            </p>
            <div class='modal' id='add_appt_form' style="background-color: white;display:none;">
                <!--  <link rel="import" href="views/appt_form.html">-->
                <!-- <script type="text/javascript" src="appt_form.js"></script>-->
            </div>
        </div>
        <div id="navi" class="panel" style='background-color:white;height:100%;'>

            <h2 style="margin:0 0 0 5px;">Select date to schedule next appointment</h2>
            Date: <input type="text" class="new_date" id="frontpage_appt_datepicker">
            <div id='appt_add_btn' class='button'>Make Appointment</div>

        </div>
    </div>

    <div id="bottom" class="panel bottom" style='width:100%;background-color:blue'>
        bottom
    </div>

</div>

<!--
<p>Welcome to
    <%= title %>
</p>
-->